## Q : 01 (1st method)

In [72]:
def calculator(x,y):    
    oper_1 = x+y
    oper_2 = x-y
    oper_3 = x*y
    oper_4 = x/y
    oper_5 = x**y
    print('the result od addition is:', oper_1)
    print('the result od subtraction is:', oper_2)
    print('the result od multiplication is:', oper_3)
    print('the result od division is:', oper_4)
    print('the result od power is:', oper_5)
calculator(3,4)

the result od addition is: 7
the result od subtraction is: -1
the result od multiplication is: 12
the result od division is: 0.75
the result od power is: 81

## 2nd method

In [71]:
def calculator(x,y):
    return x+y, x-y, x*y, x/y, x**y
calculator(3,4)

(7, -1, 12, 0.75, 81)

## Q : 03

In [73]:
dic = {'naba':88,'hamza':77,'asim':66,'moiz':99,'ahmed':55}
dic['zeeshan']=55
dic

{'naba': 88, 'hamza': 77, 'asim': 66, 'moiz': 99, 'ahmed': 55, 'zeeshan': 55}

## Q : 04

In [74]:
a={'naba': 88, 'hamza': 77, 'asim': 66, 'moiz': 99, 'ahmed': 55, 'zeeshan': 55}
print(sum(a.values()))

440

## Q :05

In [75]:
lst = [4,5,4,6,7,6,6,10,2,]
duplicate = []
for i in lst:
    if lst.count(i) > 1:
        duplicate.append(i)
print(duplicate)

[4, 4, 6, 6, 6]

## Q :06 (1st method)

In [76]:
dic={'naba': 88, 'hamza': 77, 'asim': 66, 'moiz': 99, 'ahmed': 55, 'zeeshan': 55}

def check_the_key(x):
    if x in dic:
        print('key already exist in dictionary')
    else:
        print('key is not exisr in dictionary')
check_the_key('naba')  
check_the_key('aslam')

key already exist in dictionary
key is not exisr in dictionary

## 2nd method

In [77]:
dic = {'naba': 88, 'hamza': 77, 'asim': 66, 'moiz': 99, 'ahmed': 55, 'zeeshan': 55}
n = str(input('enter a key :'))
if n in dic:
    print('key already exist in dictionary')
else:
    o = int(input('enter a number :'))
    dic[n]=o
    print('add new key & value in dictionary :',dic)

enter a key :sameen
enter a number :75
add new key & value in dictionary : {'naba': 88, 'hamza': 77, 'asim': 66, 'moiz': 99, 'ahmed': 55, 'zeeshan': 55, 'sameen': 75}