## Assignment 03 (JP)
## Q:01

In [80]:
print('Twinkle, twinkle, little star,')
print('         How i Wonder what you are')
print('                 Up above the world so high,')
print('                 Like a diamond in the sky.')
print('Twinkle, twinkle, little star,')
print('         How i Wonder what you are')

Twinkle, twinkle, little star,
         How i Wonder what you are
                 Up above the world so high,
                 Like a diamond in the sky.
Twinkle, twinkle, little star,
         How i Wonder what you are

## Q:02

In [81]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

## Q:03

In [82]:
from datetime import datetime


current_datetime =datetime.now()
print("current_datetime:", current_datetime)

current_datetime: 2021-10-23 21:18:47.501609

## Q:04

In [84]:
r = float(input('radius of a circle:'))

frml = math.pi* r **2   #pi=22/7
print('area of a circle:' , form)

radius of a circle:0.56
area of a circle: 1.0935884027146068

## Q:05

In [85]:
name_1 = input('first name: ') 
name_2 = input('last name: ')
print('name:' , name_2 + ' ' + name_1)

first name: naba
last name: hassan
name: hassan naba

## Q:06

In [86]:
n1=int(input( ))
n2=int(input( ))
print('addition:' , n1+n2)

34
66
addition: 100

## Q:07

In [ ]:
a =int(input( 'marks of math: ' ))
b=int(input( 'marks of physics: ' ))
c=int(input( 'marks of chemistry:' ))
d=int(input( 'marks of islamiat: ' ))
e=int(input( 'marks of computer: ' ))
total_marks=500
obtained_marks= a+b+c+d+e
percentage = obtained_marks / total_marks *100 
print('obtained_marks:',obtained_marks)
print('percentage:',percentage)

if percentage <100 and percentage > 80:
    print('Grade A+')
elif percentage <100 and percentage > 70:
    print('Grade A')
elif percentage <100 and percentage > 60:
    print('Grade B')
else:
    print('Fail')

## Q:08

In [ ]:
n = int(input('any number:'))
if n % 2 ==0:
    print('even number')
else:
    print('odd number')

## Q:09

In [ ]:
a = [1,1,2,3,5,8,13,21,34,55,89]
print('length of the list:' , len(a))

## Q:10

In [ ]:
a = [1,1,2,3,5,8,13,21,34,55,89]
print('addition of all numeric values:' , sum(a))

## Q:11

In [ ]:
a = [1,1,2,3,5,8,13,21,34,55,89]
print('largest number of the list:' , max(a))

## Q:12

In [ ]:
a = [1,1,2,3,5,8,13,21,34,55,89]
print(a[0:4])